<div class="header" id="yui_3_18_1_1_1509626020099_17">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed" id="yui_3_18_1_1_1509626020099_16">
        <a class="pure-menu-heading" href="">FCE Target Practice</a>

        <ul class="pure-menu-list" id="yui_3_18_1_1_1509626020099_15">
            <li class="pure-menu-item pure-menu-selected"><a href="#" class="pure-menu-link">Pricing</a></li>
            <li class="pure-menu-item" id="yui_3_18_1_1_1509626020099_14"><a href="#" class="pure-menu-link" id="yui_3_18_1_1_1509626020099_13">FAQ</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Sign Up</a></li>
        </ul>
    </div>
</div>