<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head">Free Exam Practice</h1>
        <p class="splash-subhead">
            Try Use of English questions from each grammar point
        </p>
        <p>
            <a href="http://purecss.io" class="pure-button pure-button-primary">Sign Up</a>
        </p>
    </div>
</div>